######################################
# SYSTEM / TEMP FILES
######################################
*~
~$*
*.tmp
*.log
*.tlog
*.cache
*.bak
*.swp

######################################
# BUILD OUTPUTS
######################################
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x86/
x64/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
out/
logs/

######################################
# COMPILATION / BINARIES
######################################
*.obj
*.o
*.lo
*.slo
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.out
*.app

######################################
# DEBUG FILES
######################################
*.pdb
*.idb
*.opendb
*.ipdb
*.pgc
*.pgd
*.dwo

######################################
# PRECOMPILED / GENERATED
######################################
*.gch
*.pch
*.sbr
*.tlb
*.tli
*.tlh
*_i.c
*_p.c
*_wpftmp.csproj
*.meta

######################################
# VISUAL STUDIO
######################################
.vs/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
ipch/
*.ncb
*.sdf
*.opensdf

######################################
# TEST RESULTS
######################################
TestResult.xml
*.trx
*.VisualState.xml
BenchmarkDotNet.Artifacts/

######################################
# NUGET
######################################
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

######################################
# NODE / FRONT-END
######################################
node_modules/
npm-debug.log*
yarn.lock

######################################
# PYTHON
######################################
__pycache__/
*.pyc

######################################
# VS CODE
######################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

######################################
# PUBLISH / DEPLOY
######################################
*.publish.xml
*.azurePubxml
*.pubxml
PublishScripts/
AppPackages/
publish/

######################################
# DATABASE FILES
######################################
*.mdf
*.ldf
*.ndf

######################################
# AZURE / AWS / DEVOPS
######################################
.azure/
.aws-sam/

######################################
# OTHERS
######################################
*.pfx
*.snk
*.key
*.pem
*.db
*.rptproj.bak
.cvsignore
.healthchecksdb
